#homecarousel {
    font-family: var(--org-font);

    .slider-item {
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
        }

        .slider-info {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            background-color: rgba($color: #000000, $alpha: 0.2);
            text-align: center;
            padding-top: 100px;

            .title {
                font-size: 40px;
                color: var(--org-primary);
                font-weight: 700;
                line-height: 40px;
                font-family: var(--org-font-three);
            }

            .subtitle {
                position: relative;
                font-size: 45px;
                color: var(--org-white);
                font-weight: 800;
                line-height: 50px;
            }
        }
    }

}


#homenotices {
    font-family: var(--org-font);
    margin-bottom: 50px;

    .title {
        // font-family: var(--org-font-three);
        font-weight: 700;
        font-size: 30px;
        color: var(--org-base);
        margin-bottom: 10px;
    }

    .notices {
        border-radius: 5px;
        ;
        border: 1px solid var(--org-base);

        .single-notice {
            text-decoration: none;
            color: var(--org-black);
            padding: 10px;
            display: block;

            .notice-title {
                font-family: var(--org-font-two);
                font-weight: 700;
                font-size: 18px;
                color: var(--org-black);
                margin-top: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

            }

            .date {
                font-size: 10px;
                font-weight: 600;
                padding: 5px 10px;
                border-radius: 5px;
                background: var(--org-base);
                color: var(--org-white);
            }

            .link {
                font-size: 14px;
                font-weight: 600;
                ;

            }

            &:hover {
                color: var(--org-base);

                .notice-title {
                    color: var(--org-base);
                }

            }

            &:not(:last-child) {
                border-bottom: 1px solid var(--org-base);
            }

        }

    }

    .viewmore {
        text-decoration: none;
        background-color: var(--org-primary);
        color: var(--org-black);
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0;
        border-radius: 30px;
        padding: 15px 49px 15px;
        transition: all 0.5s linear;


    }
}

#homemembers {
    font-family: var(--org-font);

    .members {
        .title {
            font-weight: 700;
            font-size: 30px;
            color: var(--org-base);
            margin-bottom: 10px;
        }

        .member {
            margin-bottom: 15px;
            padding: 10px;
            box-shadow: 0px 0px 5px 0px rgba($color: #000000, $alpha: 0.2);
            font-family: var(--org-font-two);
            color: var(--org-black);

            .member-image {
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                img {
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .name {
                padding: 10px 5px 0px 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 16px;
                font-weight: 600;
                color: var(--org-base);
            }

            .desig {
                padding: 0px 5px 5px 5px;
                font-size: 16px;
                font-weight: 600;

            }

        }
    }
}

#homedonate {
    background-color: #273633;
    padding: 100px 0px 50px 0px;
    font-family: var(--org-font);

    .title {
        font-size: 50px;
        line-height: 60px;
        font-weight: 900;
        letter-spacing: -0.04em;
        margin-top: 6px;
        color: var(--org-white);
        font-family: var(--org-font-two);
        margin-bottom: 10px;
    }

    .desc {
        font-size: 16px;
        color: #98a8a5;
        padding-bottom: 41px;

    }

    .extra {
        height: 100%;
        padding: 20px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        background: white;
    }

    .qr-holder {
        height: 100%;
        padding: 20px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        background: white;

        img {
            width: 100%;
            // border:1px solid var(--org-black)
        }
    }
}

#homegallery {
    margin-bottom: 150px;

    .gallery-top {
        position: relative;
        display: block;
        background-color: var(--org-primary);
        text-align: center;
        padding: 60px 0px 50px 0px;
        margin-bottom: 40px;

        .title {
            font-size: 40px;
            font-weight: 900;
            line-height: 40px;
            letter-spacing: -0.04em;
            color: var(--org-black);
            font-family: var(--org-font-two);
        }
    }

    .gallery-top:before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;
        border-top: 10px solid var(--org-primary);
    }

}

#homefaq {
    font: var(--org-font);
    position: relative;
    display: block;
    background-color: var(--org-extra);
    padding: 120px 0 160px;
    z-index: 1;

    .title {
        font-size: 24px;
        color: var(--org-base);
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 10px;
        font-family: var(--org-font-three);
    }

    .subtitle {
        margin: 0;
        color: var(--org-black);
        font-size: 50px;
        line-height: 60px;
        font-weight: 900;
        letter-spacing: -0.04em;
        margin-top: 6px;
        font-family: var(--org-font-two);
    }

    .semi {

        font-size: 16px;
        padding-bottom: 41px;
        margin-right: 70px;
        color: var(--org-gray);
    }

    .more {
        text-decoration: none;
        display: inline-block;
        background-color: var(--org-primary);
        color: var(--org-black);
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0;
        border-radius: 30px;
        padding: 15px 49px 15px;
        transition: all 0.5s linear;

    }

    .accordion {
        .accordion-item {
            margin-bottom: 20px;
            border-radius: 20px;
            overflow: hidden;

            .accordion-button {
                font-family: var(--org-font-two);
                font-weight: 600;
            }
        }
    }
}


#homenews {
    padding: 100px 0px;

    .title {
        text-align: center;
        font-size: 24px;
        color: var(--org-base);
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 10px;
        font-family: var(--org-font-three);

    }

    .subtitle {
        text-align: center;
        font-family: var(--org-font-two);
        color: var(--org-black);
        font-size: 50px;
        line-height: 60px;
        font-weight: 900;
        letter-spacing: -0.04em;
        margin-top: 6px;
        margin-bottom: 50px;

    }
}

#home-about{
    display: flex;
    background-color: var(--org-extra);
    .image{
        padding: 75px;
        width: 45%;
        img{
            max-width: 100%;
            border-radius:50px;
        }
    }
    .home-text{
        flex:1;
        padding: 75px 30px;
        .title{
            font-size: 50px;
            color: var(--org-color);
            font-weight: 700;
            line-height: 60px;
            margin-bottom: 20px;
            font-family: var(--org-font-two);
        }
        .subtitle{
            font-size: 24px;
            color: var(--org-base);
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 10px;

            font-family: var(--org-font-three);
        }
        .desc{
            font-size: 20px;
            margin-bottom: 40px;
            line-height: 24px;
            max-height: 72px;
            overflow: hidden;
        }
        .more{
            color: var(--org-black);
            background-color: var(--org-primary);
            padding:20px 60px;
            text-decoration: none;
            border-radius: 40px;
            font-weight: 600;
            transition: 0.5s all ;
            &:hover{
                background-color:var(--org-base) ;
                color:var(--org-white)
            }

        }
    }
}


@media(max-width:768px) {

    #homecarousel {
        .slider-item {
            .slider-info {
                padding-top: 75px;
                padding-left: 20px;
                padding-right: 20px;

                .title {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 20px;
                }

                .subtitle {
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }

    }

    #homenotices {
        .title {
            font-size: 20px;
        }

        .notices {
            border-radius: 5px;
            ;
            border: 1px solid var(--org-base);

            .single-notice {
                text-decoration: none;
                color: var(--org-black);
                padding: 10px;
                display: block;

                .notice-title {
                    font-size: 14px;
                }

                .date {
                    font-size: 8px;
                }

            }

        }

        .viewmore {

            font-size: 12px;
            border-radius: 20px;
            padding: 10px 49px 10px;
            transition: all 0.5s linear;


        }
    }

    #homemembers {

        .members {
            .title {
                font-size: 20px;
            }

            .member {
                margin-bottom: 15px;
                padding: 10px;
                box-shadow: 0px 0px 5px 0px rgba($color: #000000, $alpha: 0.2);
                font-family: var(--org-font-two);
                color: var(--org-black);

                .member-image {
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 0px;
                    }
                }

                .name {
                    padding: 5px 5px 0px 5px;
                    font-size: 12px;

                }

                .desig {
                    padding: 0px 5px 5px 5px;
                    font-size: 12px;
                    font-weight: 600;

                }

            }
        }
    }

    #homedonate {
        padding: 50px 0px 50px 0px;
        .title {
            text-align: center;
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 10px;
        }

        .desc {
            text-align: center;
            font-size: 14px;
            padding-bottom: 25px;
        }

        .extra {
            margin-top: 15px;
        }

    }

    #homegallery {
        margin-bottom: 30px;

        .gallery-top {
            position: relative;
            display: block;
            background-color: var(--org-primary);
            text-align: center;
            padding: 30px 0px 25px 0px;
            margin-bottom: 30px;

            .title {
                font-size: 20px;
                font-weight: 800;
                line-height: 20px;
            }
        }

        .gallery-top:before {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
            border-top: 10px solid var(--org-primary);
        }

    }

    #homefaq {

        font: var(--org-font);
        position: relative;
        display: block;
        background-color: var(--org-extra);
        padding: 60px 0 60px;
        z-index: 1;

        .title {
            text-align: center;
            font-size: 24px;
            color: var(--org-base);
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 10px;
            font-family: var(--org-font-three);
        }

        .subtitle {
            font-size: 25px;
            line-height: 30px;
            font-weight: 800;
            text-align: center;
            margin-bottom: 20px;
        }

        .semi {
          display: none;
        }

        .more {
            text-align: center;
            font-size: 12px;
            padding: 10px 30px 10px;
            border-radius: 20px;
        }

        .accordion {
            .accordion-item {
                margin-bottom: 10px;
                border-radius: 10px;
                overflow: hidden;

                .accordion-body{
                    font-size: 14px;
                }
                .accordion-button {
                    padding: 10px;
                    font-family: var(--org-font-two);
                    font-weight: 600;
                    font-size: 14px;
                }
            }
        }
    }

    #homenews {
        padding: 100px 0px;
        .subtitle {
            font-size: 30px;
            line-height: 35px;
        }
    }

    #home-about{
        display: block;
        .image{
            padding: 20px;
            width: 100%;
            img{
                border-radius:20px;
            }
        }
        .home-text{
            text-align: center;
            padding: 20px;
            .title{
                font-size: 30px;
                color: var(--org-color);
                font-weight: 700;
                line-height: 30px;
                margin-bottom: 20px;
                font-family: var(--org-font-two);
            }
            .subtitle{
                font-size: 20px;
                color: var(--org-base);
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 10px;
                font-family: var(--org-font-three);
            }
            .desc{
                font-size: 14px;
                margin-bottom: 20px;
            }
            .more{
                padding:10px 40px;
                // margin:30px 0px;

                display: inline-block;
            }
        }
    }
}

