@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap");
* {
  --org-font: "Manrope", sans-serif;
  --org-font-two: "Nunito", sans-serif;
  --org-font-three: "Caveat", cursive;
  --org-gray: #6f7775;
  --org-gray-rgb: 111, 119, 117;
  --org-white: #ffffff;
  --org-white-rgb: 255, 255, 255;
  --org-base: #00715d;
  --org-base-rgb: 0, 113, 93;
  --org-black: #283734;
  --org-black-rgb: 40, 55, 52;
  --org-primary: #fbd45a;
  --org-primary-rgb: 251, 212, 90;
  --org-extra: #f9f4e8;
  --org-extra-rgb: 249, 244, 232;
  --org-bdr-color: #eee9db;
  --org-bdr-color-rgb: 238, 233, 219;
  --org-bdr-radius: 20px;
  --org-nav:#90c8be;
  --org-blue:#214F77;
}

body {
  font-family: var(--org-font);
}

.navbar {
  background-color: var(--org-white);
  padding: 0px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 99;
  box-shadow: 0px 0px 1px 0px #d4d4d4;
}
.navbar .logo {
  margin-left: 50px;
}
.navbar .logo img {
  max-height: 75px;
}
.navbar .navbar-top {
  display: flex;
}
.navbar .navbar-top a {
  margin-left: 20px;
  text-decoration: none;
}
.navbar .navbar-top .top-link {
  display: flex;
  align-items: center;
}
.navbar .navbar-top .top-link .top-icon {
  position: relative;
  display: inline-block;
  font-size: 30px;
  color: var(--org-base);
  margin-right: 10px;
}
.navbar .navbar-top .top-link .top-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: var(--org-gray);
  font-family: var(--org-font);
}
.navbar .navbar-top .top-link .top-info {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  font-family: var(--org-font);
  color: var(--org-black);
}
.navbar .navbar-top .member {
  color: var(--org-black);
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: var(--org-black);
  font-family: var(--org-font-three);
}
.navbar .navbar-bottom {
  padding-left: 50px;
  margin-top: 10px;
  background-color: var(--org-base);
  display: flex;
  border-top-left-radius: 20px;
  overflow: hidden;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
}
.navbar .navbar-bottom .link {
  text-decoration: none;
  color: var(--org-nav);
  font-weight: 500;
  font-size: 15px;
  padding-right: 20px;
  transition: all 1s;
}
.navbar .navbar-bottom .link:hover {
  color: var(--org-white);
}
.navbar .navbar-bottom #donate {
  height: 70px;
  color: var(--org-black);
  background-color: var(--org-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  font-family: var(--org-font);
}

.navbar-mobile {
  border-bottom: 1px solid #e8e8e8;
  z-index: 99;
  background-color: var(--org-white);
  position: sticky;
  top: 0px;
  display: none;
  padding: 10px;
}
.navbar-mobile .logo img {
  height: 50px;
}
.navbar-mobile .toogle-btn {
  color: var(--org-black);
  border: 1px solid var(--org-gray);
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 3px;
}
.navbar-mobile .toogle-btn span {
  line-height: 26px;
  font-size: 26px;
}

.sidebar {
  position: fixed;
  z-index: 99;
  top: 0px;
  right: 100%;
  left: -100%;
  bottom: 0px;
  display: flex;
  transition: 0.5s all;
}
.sidebar.active {
  right: 0px;
  left: 0px;
}
.sidebar.active .exit {
  width: 20%;
}
.sidebar .inner {
  padding: 20px;
  width: 80%;
  height: 100%;
  background-color: var(--org-blue);
}
.sidebar .inner .donate {
  color: var(--org-white);
  font-weight: 700;
  font-size: 30px;
  font-family: var(--org-font-three);
}
.sidebar .inner .line {
  height: 1px;
  background-color: var(--org-white);
  margin: 5px 0px 10px 0px;
}
.sidebar .inner a {
  text-decoration: none;
  color: var(--org-white);
  font-family: var(--org-font-two);
  display: block;
}
.sidebar .exit {
  transition: 2s all;
  width: 0%;
  background-color: rgba(33, 79, 119, 0.1);
}

.mobile-top {
  display: none;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
}
.mobile-top a {
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  padding: 10px;
  font-family: var(--org-font-two);
  color: var(--org-base);
  font-size: 1rem;
}

@media (max-width: 1300px) {
  .navbar {
    display: block !important;
  }
  .navbar .logo {
    margin: 0px;
    text-align: center;
  }
  .navbar .navbar-top {
    justify-content: center;
  }
  .navbar .navbar-bottom {
    border-top-left-radius: 0px;
  }
}
@media (max-width: 768px) {
  .navbar {
    display: none !important;
  }
  .navbar-mobile {
    display: block;
  }
  .mobile-top {
    display: flex;
  }
}
#homecarousel {
  font-family: var(--org-font);
}
#homecarousel .slider-item {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
#homecarousel .slider-item img {
  width: 100%;
}
#homecarousel .slider-item .slider-info {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-top: 100px;
}
#homecarousel .slider-item .slider-info .title {
  font-size: 40px;
  color: var(--org-primary);
  font-weight: 700;
  line-height: 40px;
  font-family: var(--org-font-three);
}
#homecarousel .slider-item .slider-info .subtitle {
  position: relative;
  font-size: 45px;
  color: var(--org-white);
  font-weight: 800;
  line-height: 50px;
}

#homenotices {
  font-family: var(--org-font);
  margin-bottom: 50px;
}
#homenotices .title {
  font-weight: 700;
  font-size: 30px;
  color: var(--org-base);
  margin-bottom: 10px;
}
#homenotices .notices {
  border-radius: 5px;
  border: 1px solid var(--org-base);
}
#homenotices .notices .single-notice {
  text-decoration: none;
  color: var(--org-black);
  padding: 10px;
  display: block;
}
#homenotices .notices .single-notice .notice-title {
  font-family: var(--org-font-two);
  font-weight: 700;
  font-size: 18px;
  color: var(--org-black);
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#homenotices .notices .single-notice .date {
  font-size: 10px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--org-base);
  color: var(--org-white);
}
#homenotices .notices .single-notice .link {
  font-size: 14px;
  font-weight: 600;
}
#homenotices .notices .single-notice:hover {
  color: var(--org-base);
}
#homenotices .notices .single-notice:hover .notice-title {
  color: var(--org-base);
}
#homenotices .notices .single-notice:not(:last-child) {
  border-bottom: 1px solid var(--org-base);
}
#homenotices .viewmore {
  text-decoration: none;
  background-color: var(--org-primary);
  color: var(--org-black);
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0;
  border-radius: 30px;
  padding: 15px 49px 15px;
  transition: all 0.5s linear;
}

#homemembers {
  font-family: var(--org-font);
}
#homemembers .members .title {
  font-weight: 700;
  font-size: 30px;
  color: var(--org-base);
  margin-bottom: 10px;
}
#homemembers .members .member {
  margin-bottom: 15px;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  font-family: var(--org-font-two);
  color: var(--org-black);
}
#homemembers .members .member .member-image {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#homemembers .members .member .member-image img {
  height: 100%;
  border-radius: 50%;
}
#homemembers .members .member .name {
  padding: 10px 5px 0px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 600;
  color: var(--org-base);
}
#homemembers .members .member .desig {
  padding: 0px 5px 5px 5px;
  font-size: 16px;
  font-weight: 600;
}

#homedonate {
  background-color: #273633;
  padding: 100px 0px 50px 0px;
  font-family: var(--org-font);
}
#homedonate .title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 900;
  letter-spacing: -0.04em;
  margin-top: 6px;
  color: var(--org-white);
  font-family: var(--org-font-two);
  margin-bottom: 10px;
}
#homedonate .desc {
  font-size: 16px;
  color: #98a8a5;
  padding-bottom: 41px;
}
#homedonate .extra {
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background: white;
}
#homedonate .qr-holder {
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background: white;
}
#homedonate .qr-holder img {
  width: 100%;
}

#homegallery {
  margin-bottom: 150px;
}
#homegallery .gallery-top {
  position: relative;
  display: block;
  background-color: var(--org-primary);
  text-align: center;
  padding: 60px 0px 50px 0px;
  margin-bottom: 40px;
}
#homegallery .gallery-top .title {
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: -0.04em;
  color: var(--org-black);
  font-family: var(--org-font-two);
}
#homegallery .gallery-top:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 10px solid var(--org-primary);
}

#homefaq {
  font: var(--org-font);
  position: relative;
  display: block;
  background-color: var(--org-extra);
  padding: 120px 0 160px;
  z-index: 1;
}
#homefaq .title {
  font-size: 24px;
  color: var(--org-base);
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
  font-family: var(--org-font-three);
}
#homefaq .subtitle {
  margin: 0;
  color: var(--org-black);
  font-size: 50px;
  line-height: 60px;
  font-weight: 900;
  letter-spacing: -0.04em;
  margin-top: 6px;
  font-family: var(--org-font-two);
}
#homefaq .semi {
  font-size: 16px;
  padding-bottom: 41px;
  margin-right: 70px;
  color: var(--org-gray);
}
#homefaq .more {
  text-decoration: none;
  display: inline-block;
  background-color: var(--org-primary);
  color: var(--org-black);
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0;
  border-radius: 30px;
  padding: 15px 49px 15px;
  transition: all 0.5s linear;
}
#homefaq .accordion .accordion-item {
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}
#homefaq .accordion .accordion-item .accordion-button {
  font-family: var(--org-font-two);
  font-weight: 600;
}

#homenews {
  padding: 100px 0px;
}
#homenews .title {
  text-align: center;
  font-size: 24px;
  color: var(--org-base);
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
  font-family: var(--org-font-three);
}
#homenews .subtitle {
  text-align: center;
  font-family: var(--org-font-two);
  color: var(--org-black);
  font-size: 50px;
  line-height: 60px;
  font-weight: 900;
  letter-spacing: -0.04em;
  margin-top: 6px;
  margin-bottom: 50px;
}

#home-about {
  display: flex;
  background-color: var(--org-extra);
}
#home-about .image {
  padding: 75px;
  width: 45%;
}
#home-about .image img {
  max-width: 100%;
  border-radius: 50px;
}
#home-about .home-text {
  flex: 1;
  padding: 75px 30px;
}
#home-about .home-text .title {
  font-size: 50px;
  color: var(--org-color);
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 20px;
  font-family: var(--org-font-two);
}
#home-about .home-text .subtitle {
  font-size: 24px;
  color: var(--org-base);
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
  font-family: var(--org-font-three);
}
#home-about .home-text .desc {
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 24px;
  max-height: 72px;
  overflow: hidden;
}
#home-about .home-text .more {
  color: var(--org-black);
  background-color: var(--org-primary);
  padding: 20px 60px;
  text-decoration: none;
  border-radius: 40px;
  font-weight: 600;
  transition: 0.5s all;
}
#home-about .home-text .more:hover {
  background-color: var(--org-base);
  color: var(--org-white);
}

@media (max-width: 768px) {
  #homecarousel .slider-item .slider-info {
    padding-top: 75px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #homecarousel .slider-item .slider-info .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
  }
  #homecarousel .slider-item .slider-info .subtitle {
    font-size: 20px;
    line-height: 30px;
  }
  #homenotices .title {
    font-size: 20px;
  }
  #homenotices .notices {
    border-radius: 5px;
    border: 1px solid var(--org-base);
  }
  #homenotices .notices .single-notice {
    text-decoration: none;
    color: var(--org-black);
    padding: 10px;
    display: block;
  }
  #homenotices .notices .single-notice .notice-title {
    font-size: 14px;
  }
  #homenotices .notices .single-notice .date {
    font-size: 8px;
  }
  #homenotices .viewmore {
    font-size: 12px;
    border-radius: 20px;
    padding: 10px 49px 10px;
    transition: all 0.5s linear;
  }
  #homemembers .members .title {
    font-size: 20px;
  }
  #homemembers .members .member {
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    font-family: var(--org-font-two);
    color: var(--org-black);
  }
  #homemembers .members .member .member-image {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  #homemembers .members .member .member-image img {
    width: 100%;
    height: auto;
    border-radius: 0px;
  }
  #homemembers .members .member .name {
    padding: 5px 5px 0px 5px;
    font-size: 12px;
  }
  #homemembers .members .member .desig {
    padding: 0px 5px 5px 5px;
    font-size: 12px;
    font-weight: 600;
  }
  #homedonate {
    padding: 50px 0px 50px 0px;
  }
  #homedonate .title {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  #homedonate .desc {
    text-align: center;
    font-size: 14px;
    padding-bottom: 25px;
  }
  #homedonate .extra {
    margin-top: 15px;
  }
  #homegallery {
    margin-bottom: 30px;
  }
  #homegallery .gallery-top {
    position: relative;
    display: block;
    background-color: var(--org-primary);
    text-align: center;
    padding: 30px 0px 25px 0px;
    margin-bottom: 30px;
  }
  #homegallery .gallery-top .title {
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
  }
  #homegallery .gallery-top:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 10px solid var(--org-primary);
  }
  #homefaq {
    font: var(--org-font);
    position: relative;
    display: block;
    background-color: var(--org-extra);
    padding: 60px 0 60px;
    z-index: 1;
  }
  #homefaq .title {
    text-align: center;
    font-size: 24px;
    color: var(--org-base);
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    font-family: var(--org-font-three);
  }
  #homefaq .subtitle {
    font-size: 25px;
    line-height: 30px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
  }
  #homefaq .semi {
    display: none;
  }
  #homefaq .more {
    text-align: center;
    font-size: 12px;
    padding: 10px 30px 10px;
    border-radius: 20px;
  }
  #homefaq .accordion .accordion-item {
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
  }
  #homefaq .accordion .accordion-item .accordion-body {
    font-size: 14px;
  }
  #homefaq .accordion .accordion-item .accordion-button {
    padding: 10px;
    font-family: var(--org-font-two);
    font-weight: 600;
    font-size: 14px;
  }
  #homenews {
    padding: 100px 0px;
  }
  #homenews .subtitle {
    font-size: 30px;
    line-height: 35px;
  }
  #home-about {
    display: block;
  }
  #home-about .image {
    padding: 20px;
    width: 100%;
  }
  #home-about .image img {
    border-radius: 20px;
  }
  #home-about .home-text {
    text-align: center;
    padding: 20px;
  }
  #home-about .home-text .title {
    font-size: 30px;
    color: var(--org-color);
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
    font-family: var(--org-font-two);
  }
  #home-about .home-text .subtitle {
    font-size: 20px;
    color: var(--org-base);
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    font-family: var(--org-font-three);
  }
  #home-about .home-text .desc {
    font-size: 14px;
    margin-bottom: 20px;
  }
  #home-about .home-text .more {
    padding: 10px 40px;
    display: inline-block;
  }
}
.news-single {
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 15px;
  display: block;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}
.news-single .img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 230px;
  overflow: hidden;
}
.news-single .img img {
  width: 100%;
}
.news-single .titleholder {
  position: relative;
}
.news-single .titleholder .date {
  position: absolute;
  left: 30px;
  top: -15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.1);
  padding: 6px 25px 6px;
  border-radius: 15px;
  z-index: 2;
  font-size: 18px;
  color: var(--org-base);
  font-family: var(--org-font-three);
  font-weight: 700;
  line-height: 18px;
}
.news-single .titleholder .newstitle {
  padding: 30px 15px 0px 15px;
  color: var(--org-black);
  font-family: var(--org-font-two);
  margin: 0;
  font-size: 26px;
  font-weight: 900;
  line-height: 31px;
  letter-spacing: -0.04em;
  margin-top: 3px;
}
.news-single:hover .titleholder .newstitle {
  color: var(--org-base);
}

#news-page-single .image {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 20px;
}
#news-page-single .image .date {
  position: absolute;
  bottom: 10%;
  left: 10%;
  background-color: var(--org-primary);
  padding: 6px 25px 6px;
  border-radius: 15px;
  z-index: 2;
  font-size: 18px;
  color: var(--org-black);
  font-family: var(--org-font-three);
  font-weight: 700;
  line-height: 18px;
}
#news-page-single .title {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 10px;
  font-weight: 900;
  letter-spacing: -0.04em;
  color: var(--org-black);
  font-family: var(--org-font-two);
  margin: 0;
}
#news-page-single .full {
  padding-top: 30px;
  font-size: 16px;
  overflow: hidden;
}
#news-page-single .full img {
  max-width: 100%;
}
#news-page-single .extra {
  background-color: var(--org-extra);
  border-radius: 20px;
  padding: 20px;
}
#news-page-single .extra .extra-title {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
  font-weight: 800;
  letter-spacing: -0.04em;
  color: var(--org-black);
  font-family: var(--org-font-two);
  margin: 0;
}
#news-page-single .extra .extra-single {
  text-decoration: none;
  color: var(--org-black);
  padding-top: 10px;
  display: block;
  font-weight: 600;
}
#news-page-single .extra .extra-single small {
  font-size: 0.6rem;
  color: var(--org-base);
}
#news-page-single .extra .extra-single:hover {
  color: var(--org-primary);
}

#notice-page .notice {
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  font-weight: 800;
  letter-spacing: -0.04em;
  color: var(--org-black);
  font-family: var(--org-font-two);
}
#notice-page .notice:hover {
  color: var(--org-primary);
}
#notice-page small {
  font-family: var(--org-font-two);
  font-size: 0.8rem;
  color: var(--org-base);
}

#faq-page {
  background-color: var(--org-extra);
}
#faq-page .title {
  font-size: 24px;
  color: var(--org-base);
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
  font-family: var(--org-font-three);
  text-align: center;
}
#faq-page .subtitle {
  margin: 0;
  color: var(--org-black);
  font-size: 50px;
  line-height: 60px;
  font-weight: 900;
  letter-spacing: -0.04em;
  margin-top: 6px;
  font-family: var(--org-font-two);
  text-align: center;
}
#faq-page .accordion .accordion-item {
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}
#faq-page .accordion .accordion-item .accordion-button {
  font-family: var(--org-font-two);
  font-weight: 600;
}

#comities-page .single-committee {
  background-color: var(--org-extra);
}
#comities-page .single-committee .title {
  margin-bottom: 20px;
  font-family: var(--org-font-two);
  font-weight: 700;
}
#comities-page .single-committee .detail {
  text-decoration: none;
  font-family: var(--org-font-two);
  padding: 10px 50px;
  font-weight: 700;
  color: var(--org-white);
  background-color: var(--org-primary);
  border-radius: 20px;
  display: inline-block;
}
#comities-page .single-committee .single-member {
  background-color: var(--org-white);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  padding: 10px;
  margin-bottom: 15px;
}
#comities-page .single-committee .single-member .image {
  height: 100px;
}
#comities-page .single-committee .single-member .image img {
  height: 100%;
  border-radius: 50%;
}
#comities-page .single-committee .single-member .desc {
  padding: 20px 15px 15px 15px;
}
#comities-page .single-committee .single-member .desc .name {
  font-family: var(--org-font-two);
  font-weight: 700;
  font-size: 16px;
  color: var(--org-black);
}
#comities-page .single-committee .single-member .desc .desig {
  font-weight: 600;
  color: var(--org-base);
}
#comities-page .others {
  position: relative;
}
#comities-page .others .search {
  position: absolute;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  top: -25px;
  border-radius: 15px;
  width: 80%;
  max-width: 500px;
  transform: translateX(-50%);
  left: 50%;
  overflow: hidden;
}
#comities-page .others .search input {
  height: 50px;
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: transparent;
}
#comities-page .others .results {
  margin-top: 40px;
}
#comities-page .others .results .result {
  display: block;
  text-decoration: none;
  font-size: 17px;
  color: var(--org-black);
  font-weight: 700;
  margin-bottom: 10px;
  font-family: var(--org-font-two);
  padding: 15px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}
#comities-page .others .results .result:hover {
  color: var(--org-base);
}

#issues-page .issue {
  padding: 15px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 15px;
}
#issues-page .issue .issue-title {
  font-family: var(--org-font-two);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  height: 48px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 10px;
}
#issues-page .issue .issue-desc {
  color: var(--org-black);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 20px;
  height: 80px;
}
#issues-page .issue .view-more {
  font-weight: 600;
}

#about-page .single-about {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0.3px 0.2px 1.9px rgba(0, 0, 0, 0.05), 0.8px 0.5px 4.3px rgba(0, 0, 0, 0.037), 1.5px 1px 7.7px rgba(0, 0, 0, 0.031), 2.4px 1.6px 12.8px rgba(0, 0, 0, 0.027), 4px 2.6px 21.2px rgba(0, 0, 0, 0.023), 6.9px 4.6px 37px rgba(0, 0, 0, 0.019), 15px 10px 80px rgba(0, 0, 0, 0.013);
  display: flex;
}
#about-page .single-about .image {
  background-color: var(--org-extra);
  width: 200px;
}
#about-page .single-about .image img {
  width: 100%;
}
#about-page .single-about .text {
  padding: 20px 40px 20px 20px;
  flex: 1;
}
#about-page .single-about .text .title {
  font-weight: 700;
  font-size: 25px;
  font-family: var(--org-font-two);
  margin-bottom: 10px;
}
#about-page .single-about .text .desc {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  height: 40px;
  overflow: hidden;
}
#about-page .single-about .text .detail {
  color: var(--org-base);
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}
#about-page .single-about .text .detail:hover {
  color: var(--org-primary);
}

#aboutsingle-page h2 {
  font-family: var(--org-font-two);
}
#aboutsingle-page .image {
  border-radius: 10px;
  overflow: hidden;
}
#aboutsingle-page .desc img {
  max-width: 100%;
}

#contact-page {
  color: var(--org-extra);
}
#contact-page .map {
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
#contact-page .info {
  border-radius: 20px;
  overflow: hidden;
  padding: 50px;
}
#contact-page .info .top-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  transition: 1s all;
}
#contact-page .info .top-link:not(:last-child) {
  margin-bottom: 20px;
}
#contact-page .info .top-link:hover .top-icon {
  color: var(--org-white);
  background-color: var(--org-base);
}
#contact-page .info .top-link .top-icon {
  border-radius: 25px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--org-black);
  background-color: var(--org-primary);
  margin-right: 20px;
}
#contact-page .info .top-link .top-title {
  color: var(--org-gray);
  font-size: 0.8rem;
}
#contact-page .info .top-link .top-info {
  color: var(--org-black);
}

@media (max-width: 768px) {
  .news-single .titleholder {
    position: relative;
  }
  .news-single .titleholder .newstitle {
    font-size: 20px;
    line-height: 21px;
  }
  #notice-page .notice {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
  }
  #comities-page .single-committee .single-member .image {
    height: 100px;
  }
  #comities-page .single-committee .single-member .desc {
    padding: 15px 5px;
  }
  #comities-page .single-committee .single-member .desc .name {
    font-size: 12px;
  }
  #comities-page .single-committee .single-member .desc .desig {
    font-size: 12px;
  }
  #comities-page .others {
    position: relative;
  }
  #comities-page .others .search {
    position: absolute;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    top: -25px;
    border-radius: 15px;
    width: 80%;
    max-width: 500px;
    transform: translateX(-50%);
    left: 50%;
    overflow: hidden;
  }
  #comities-page .others .search input {
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: transparent;
  }
  #comities-page .others .results {
    margin-top: 40px;
  }
  #comities-page .others .results .result {
    display: block;
    text-decoration: none;
    font-size: 17px;
    color: var(--org-black);
    font-weight: 700;
    margin-bottom: 10px;
    font-family: var(--org-font-two);
    padding: 15px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  }
  #comities-page .others .results .result:hover {
    color: var(--org-base);
  }
  #about-page .single-about {
    text-align: center;
    display: block;
  }
  #about-page .single-about .image {
    background-color: var(--org-extra);
    width: 100%;
  }
  #about-page .single-about .image img {
    width: 100%;
  }
  #about-page .single-about .text {
    padding: 20px;
    flex: 1;
  }
  #about-page .single-about .text .title {
    font-weight: 700;
    font-size: 18px;
    font-family: var(--org-font-two);
    margin-bottom: 10px;
  }
  #about-page .single-about .text .desc {
    font-size: 14px;
    line-height: 18px;
    height: 54px;
  }
  #about-page .single-about .text .detail {
    color: var(--org-base);
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
  }
  #about-page .single-about .text .detail:hover {
    color: var(--org-primary);
  }
}
.galleries .gallery-single {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  display: block;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  height: 200px;
}
.galleries .gallery-single .img {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.galleries .gallery-single .img img {
  height: 100%;
}
.galleries .gallery-single .overlay {
  z-index: 1;
  position: absolute;
  top: -200px;
  bottom: -200px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(128, 108, 46, 0.2273284314) 51%, rgb(251, 212, 90) 100%);
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: -0.04em;
  line-height: 34px;
  font-family: var(--org-font-two);
  text-transform: capitalize;
  transition: 0.5s all;
  color: var(--org-black);
  opacity: 0;
}
.galleries .gallery-single:hover .overlay {
  top: 0px;
  bottom: 0px;
  opacity: 1;
}

#gallery-single-page .image {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#gallery-single-page .image img {
  height: 100%;
}

@media (max-width: 768px) {
  .galleries .gallery-single {
    height: 125px;
  }
  .galleries .gallery-single .overlay {
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 15px;
  }
}
.footer {
  background-color: #283734;
  padding: 100px;
}
.footer #footerimg {
  max-height: 75px;
}
.footer #footerdesc {
  margin: 15px 0px;
  color: var(--org-white);
  text-align: justify;
  font-weight: 600;
  padding-right: 50px;
}
.footer .link {
  display: block;
  text-decoration: none;
  color: var(--org-gray);
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}
.footer .link:hover {
  color: var(--org-white);
}
.footer .footeraddr {
  color: var(--org-gray);
}
.footer .iconlink {
  color: var(--org-white);
  display: flex;
  text-decoration: none;
  align-items: center;
}
.footer .iconlink .icon {
  padding-right: 10px;
  color: var(--org-primary);
  display: flex;
  text-align: center;
}
.footer .social {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px 10px;
}
.footer .social svg {
  color: white;
}

@media (max-width: 768px) {
  .footer {
    overflow: hidden;
    padding: 15px;
  }
  .footer #footerimg {
    max-height: 75px;
  }
  .footer #footerdesc {
    font-size: 14px;
    padding-right: 0px;
  }
  .footer .link {
    display: block;
    text-decoration: none;
    color: var(--org-gray);
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .footer .link:hover {
    color: var(--org-white);
  }
  .footer .footeraddr {
    color: var(--org-gray);
  }
  .footer .iconlink {
    font: 14px;
  }
}
.font-two {
  font-family: var(--org-font-two);
}

.jumbotron {
  padding: 20px 10px;
  background: var(--org-gray);
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
  color: var(--org-white);
}
.jumbotron a {
  text-decoration: none;
  color: var(--org-white);
}
.jumbotron a.active {
  color: var(--org-primary);
}
.jumbotron a:hover {
  color: var(--org-primary);
}

#newspagination .pagination .page-link {
  margin: 5px;
  border-radius: 50% !important;
  font-weight: 600 !important;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  cursor: pointer;
}
#newspagination .pagination .page-link.page {
  color: var(--org-black) !important;
}
#newspagination .pagination .page-link.page:hover {
  border: 1px solid var(--org-primary) !important;
  color: var(--org-primary) !important;
}
#newspagination .pagination .page-link.page.active {
  border: 1px solid var(--org-primary) !important;
  color: var(--org-primary) !important;
}/*# sourceMappingURL=index.css.map */